@using PagedList.Mvc;
@using PagedList;
@model IPagedList<DocumentsArchiving.BI.DocumentVM>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (@Html.BeginForm("Index", "Documents", FormMethod.Get))
{
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-2">
					<div class="col-md-12">
						<input type="radio" id="Subject" name="searchBy" value="Subject" checked>
						<label for="Subject">Subject</label>
					</div>
					<div class="col-md-12">
						<input type="radio" id="SerialNumber" name="searchBy" value="SerialNumber">
						<label for="SerialNumber">SerialNumber</label>
					</div>
					
				</div>
				<div class="col-md-4">
					<input class="form-control" type="text" name="search" value="" />
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-2">					
					<div class="col-md-12">
						<input type="radio" id="DocumentType" name="searchBy" value="DocumentType">
						<label for="DocumentType">DocumentType</label>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<div class="col-md-10">
							@Html.DropDownList("DocumentTypeId", (IEnumerable<SelectListItem>)ViewBag.DocumentTypeId)
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div>
		<p>Search:</p>




		<div class="form-group">

			<div class="col-md-10">
				@Html.DropDownList("DocumentTypeId", (IEnumerable<SelectListItem>)ViewBag.DocumentTypeId)
			</div>
		</div>
		<input type="submit" name="" value="Search" />
	</div>
}

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.First().Subject)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.First().DocumentType.DocumentTypeDesc)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.First().DocumentDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.First().SerialNumber)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.First().Path)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Subject)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DocumentType.DocumentTypeDesc)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DocumentDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SerialNumber)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Path)
			</td>

		</tr>
	}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
